.center {
    position: absolute;
    left: 900px;
    top: 200px;
}

.photo {
    position: relative;
    right: 550px;
    top: -545px;
    height: 600px;
}

.description {
    width: 350px;
}

.links {
    color: black;
}